.root{
--primary-color:hsl(216, 12%, 8%);   
--secondary-color:hsl(212, 10%, 25%);
--submit-color:hsl(25, 97%, 53%);
--white-color:hsl(0, 0%, 100%);
--container-bgcolor:hsl(213, 19%, 18%);
--bdr-rds:50%;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--primary-color) ;
    font-family: cursive;
    width:100vw;
    height:100vh;
}

.main-container,#thankYouSection{
    width: 40%; 
    max-width: 400px; 
    height: auto; 
    border-radius: 7%;
    background-color: var(--container-bgcolor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    color:var(--white-color);
   
    
}


.star {
    display: inline-block;
    border-radius:var(--bdr-rds) ;
    background-color:var(--secondary-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.numbers {
    display: flex;
    justify-content: space-between;
    padding-top:1rem;
    flex-wrap: wrap;
}

div span {
    background-color: var(--secondary-color);
    padding: 0.7rem 1.2rem ;
    border-radius: var(--bdr-rds);
}   

p {
    padding: 0.7rem 0;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

button {
    text-align:center;
    height:6vh;
    width: 100%;
    border-radius: 15px;
    margin-top: 1.5rem;
    background-color:var(--submit-color) ;
    border: none;
}   
button:hover{
    background-color: var(--white-color);
    cursor: pointer;
}
span:hover,.selected{
    background-color: var(--submit-color);
    cursor: pointer;
}

#result{
    
        color: var(--submit-color);
        background-color: hsl(214, 20%, 21%);
        border-radius: 10px;
        padding: 0.5rem;
        margin: 1rem auto; 
        display: block;
        max-width: 90%; 
}  

   
.msg-container img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
}
.msg-container h2{
    text-align: center;
    margin-top: 1rem;
    
}
div p{
    text-align: center;
}

@media screen and (max-width: 768px) {
    div span {
        padding: 0.5rem 0.8rem; /* Decrease padding on smaller screens */
    }

}@media screen and (max-width: 768px) {
    .main-container,#thankYouSection {
        width: calc(100% - 20% ); 
        max-width: none; 
        margin-left: 4px; 
        margin-right: 10px;
    }}